# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
ResourceMetadata.Web/Content/themes/Site.min.css
ResourceMetadata.Web/Content/themes/select2/select2.min.css
ResourceMetadata.Web/Content/themes/semantic/semantic.min.css
ResourceMetadata.Web/Scripts/app/ngscripts.js
ResourceMetadata.Web/Scripts/libs/angular-1.2.16.min.js
ResourceMetadata.Web/Scripts/libs/angular-animate-1.2.16.min.js
ResourceMetadata.Web/Scripts/libs/angular-mocks-1.2.16.min.js
ResourceMetadata.Web/Scripts/libs/angular-resource-1.2.16.min.js
ResourceMetadata.Web/Scripts/libs/angular-route-1.2.16.min.js
ResourceMetadata.Web/Scripts/libs/angular-ui/select2.min.js
ResourceMetadata.Web/Scripts/libs/jquery-1.9.1.min.js
ResourceMetadata.Web/Scripts/libs/ng-table/ng-table.min.js
ResourceMetadata.Web/Scripts/libs/select2/select2.min.js
ResourceMetadata.Web/Scripts/libs/semantic/semantic.min.js
packages/Antlr.3.4.1.9004/Antlr.3.4.1.9004.nupkg
packages/Antlr.3.4.1.9004/Antlr.3.4.1.9004.nuspec
packages/AutoMapper.3.1.1/AutoMapper.3.1.1.nupkg
packages/AutoMapper.3.1.1/AutoMapper.3.1.1.nuspec
packages/AutoMapper.3.1.1/lib/MonoAndroid/AutoMapper.xml
packages/AutoMapper.3.1.1/lib/MonoTouch/AutoMapper.xml
packages/AutoMapper.3.1.1/lib/net40/AutoMapper.xml
packages/AutoMapper.3.1.1/lib/portable-windows8+net40+wp8+sl5+MonoAndroid+MonoTouch/AutoMapper.xml
packages/AutoMapper.3.1.1/lib/sl5/AutoMapper.xml
packages/AutoMapper.3.1.1/lib/windows8/AutoMapper.xml
packages/AutoMapper.3.1.1/lib/wp8/AutoMapper.xml
packages/AutoMapper.3.1.1/tools/MonoAndroid/Install.ps1
packages/AutoMapper.3.1.1/tools/MonoAndroid/uninstall.ps1
packages/AutoMapper.3.1.1/tools/MonoTouch/Install.ps1
packages/AutoMapper.3.1.1/tools/MonoTouch/uninstall.ps1
packages/AutoMapper.3.1.1/tools/net40/Install.ps1
packages/AutoMapper.3.1.1/tools/net40/uninstall.ps1
packages/AutoMapper.3.1.1/tools/sl5/Install.ps1
packages/AutoMapper.3.1.1/tools/sl5/uninstall.ps1
packages/AutoMapper.3.1.1/tools/windows8/Install.ps1
packages/AutoMapper.3.1.1/tools/windows8/uninstall.ps1
packages/AutoMapper.3.1.1/tools/wp8/Install.ps1
packages/AutoMapper.3.1.1/tools/wp8/uninstall.ps1
packages/Autofac.3.1.1/Autofac.3.1.1.nupkg
packages/Autofac.3.1.1/Autofac.3.1.1.nuspec
packages/Autofac.3.1.1/lib/net40/Autofac.xml
packages/Autofac.3.1.1/lib/portable-win+net40+sl50+wp8/Autofac.xml
packages/Autofac.WebApi5.3.0.0-rc1/Autofac.WebApi5.3.0.0-rc1.nupkg
packages/Autofac.WebApi5.3.0.0-rc1/Autofac.WebApi5.3.0.0-rc1.nuspec
packages/Autofac.WebApi5.3.0.0-rc1/lib/net45/Autofac.Integration.WebApi.xml
packages/EntityFramework.6.0.2/EntityFramework.6.0.2.nupkg
packages/EntityFramework.6.0.2/EntityFramework.6.0.2.nuspec
packages/EntityFramework.6.0.2/content/App.config.transform
packages/EntityFramework.6.0.2/content/Web.config.transform
packages/EntityFramework.6.0.2/lib/net40/EntityFramework.SqlServer.xml
packages/EntityFramework.6.0.2/lib/net40/EntityFramework.xml
packages/EntityFramework.6.0.2/lib/net45/EntityFramework.SqlServer.xml
packages/EntityFramework.6.0.2/lib/net45/EntityFramework.xml
packages/EntityFramework.6.0.2/tools/EntityFramework.psd1
packages/EntityFramework.6.0.2/tools/EntityFramework.psm1
packages/EntityFramework.6.0.2/tools/about_EntityFramework.help.txt
packages/EntityFramework.6.0.2/tools/init.ps1
packages/EntityFramework.6.0.2/tools/install.ps1
packages/Microsoft.AspNet.Cors.5.1.1/Microsoft.AspNet.Cors.5.1.1.nupkg
packages/Microsoft.AspNet.Cors.5.1.1/Microsoft.AspNet.Cors.5.1.1.nuspec
packages/Microsoft.AspNet.Identity.Core.1.0.0/Microsoft.AspNet.Identity.Core.1.0.0.nupkg
packages/Microsoft.AspNet.Identity.Core.1.0.0/Microsoft.AspNet.Identity.Core.1.0.0.nuspec
packages/Microsoft.AspNet.Identity.Core.1.0.0/lib/net45/Microsoft.AspNet.Identity.Core.xml
packages/Microsoft.AspNet.Identity.EntityFramework.1.0.0/Microsoft.AspNet.Identity.EntityFramework.1.0.0.nupkg
packages/Microsoft.AspNet.Identity.EntityFramework.1.0.0/Microsoft.AspNet.Identity.EntityFramework.1.0.0.nuspec
packages/Microsoft.AspNet.Identity.EntityFramework.1.0.0/lib/net45/Microsoft.AspNet.Identity.EntityFramework.xml
packages/Microsoft.AspNet.Identity.Owin.1.0.0/Microsoft.AspNet.Identity.Owin.1.0.0.nupkg
packages/Microsoft.AspNet.Identity.Owin.1.0.0/Microsoft.AspNet.Identity.Owin.1.0.0.nuspec
packages/Microsoft.AspNet.Identity.Owin.1.0.0/lib/net45/Microsoft.AspNet.Identity.Owin.xml
packages/Microsoft.AspNet.Mvc.5.0.0/Microsoft.AspNet.Mvc.5.0.0.nupkg
packages/Microsoft.AspNet.Mvc.5.0.0/Microsoft.AspNet.Mvc.5.0.0.nuspec
packages/Microsoft.AspNet.Mvc.5.0.0/lib/net45/System.Web.Mvc.xml
packages/Microsoft.AspNet.Razor.3.0.0/Microsoft.AspNet.Razor.3.0.0.nupkg
packages/Microsoft.AspNet.Razor.3.0.0/Microsoft.AspNet.Razor.3.0.0.nuspec
packages/Microsoft.AspNet.Razor.3.0.0/lib/net45/System.Web.Razor.xml
packages/Microsoft.AspNet.Web.Optimization.1.1.1/Microsoft.AspNet.Web.Optimization.1.1.1.nupkg
packages/Microsoft.AspNet.Web.Optimization.1.1.1/Microsoft.AspNet.Web.Optimization.1.1.1.nuspec
packages/Microsoft.AspNet.Web.Optimization.1.1.1/lib/net40/system.web.optimization.xml
packages/Microsoft.AspNet.WebApi.5.0.0/Microsoft.AspNet.WebApi.5.0.0.nupkg
packages/Microsoft.AspNet.WebApi.5.0.0/Microsoft.AspNet.WebApi.5.0.0.nuspec
packages/Microsoft.AspNet.WebApi.Client.5.1.1/Microsoft.AspNet.WebApi.Client.5.1.1.nupkg
packages/Microsoft.AspNet.WebApi.Client.5.1.1/Microsoft.AspNet.WebApi.Client.5.1.1.nuspec
packages/Microsoft.AspNet.WebApi.Client.5.1.1/lib/net45/System.Net.Http.Formatting.xml
packages/Microsoft.AspNet.WebApi.Client.5.1.1/lib/portable-wp8+netcore45+net45/System.Net.Http.Formatting.xml
packages/Microsoft.AspNet.WebApi.Core.5.1.1/Content/web.config.transform
packages/Microsoft.AspNet.WebApi.Core.5.1.1/Microsoft.AspNet.WebApi.Core.5.1.1.nupkg
packages/Microsoft.AspNet.WebApi.Core.5.1.1/Microsoft.AspNet.WebApi.Core.5.1.1.nuspec
packages/Microsoft.AspNet.WebApi.Core.5.1.1/lib/net45/System.Web.Http.xml
packages/Microsoft.AspNet.WebApi.Cors.5.1.1/Microsoft.AspNet.WebApi.Cors.5.1.1.nupkg
packages/Microsoft.AspNet.WebApi.Cors.5.1.1/Microsoft.AspNet.WebApi.Cors.5.1.1.nuspec
packages/Microsoft.AspNet.WebApi.Cors.5.1.1/lib/net45/System.Web.Http.Cors.xml
packages/Microsoft.AspNet.WebApi.HelpPage.5.0.0/Microsoft.AspNet.WebApi.HelpPage.5.0.0.nupkg
packages/Microsoft.AspNet.WebApi.HelpPage.5.0.0/Microsoft.AspNet.WebApi.HelpPage.5.0.0.nuspec
packages/Microsoft.AspNet.WebApi.HelpPage.5.0.0/content/Areas/HelpPage/ApiDescriptionExtensions.cs.pp
packages/Microsoft.AspNet.WebApi.HelpPage.5.0.0/content/Areas/HelpPage/App_Start/HelpPageConfig.cs.pp
packages/Microsoft.AspNet.WebApi.HelpPage.5.0.0/content/Areas/HelpPage/Controllers/HelpController.cs.pp
packages/Microsoft.AspNet.WebApi.HelpPage.5.0.0/content/Areas/HelpPage/HelpPage.css.pp
packages/Microsoft.AspNet.WebApi.HelpPage.5.0.0/content/Areas/HelpPage/HelpPageAreaRegistration.cs.pp
packages/Microsoft.AspNet.WebApi.HelpPage.5.0.0/content/Areas/HelpPage/HelpPageConfigurationExtensions.cs.pp
packages/Microsoft.AspNet.WebApi.HelpPage.5.0.0/content/Areas/HelpPage/Models/HelpPageApiModel.cs.pp
packages/Microsoft.AspNet.WebApi.HelpPage.5.0.0/content/Areas/HelpPage/SampleGeneration/HelpPageSampleGenerator.cs.pp
packages/Microsoft.AspNet.WebApi.HelpPage.5.0.0/content/Areas/HelpPage/SampleGeneration/HelpPageSampleKey.cs.pp
packages/Microsoft.AspNet.WebApi.HelpPage.5.0.0/content/Areas/HelpPage/SampleGeneration/ImageSample.cs.pp
packages/Microsoft.AspNet.WebApi.HelpPage.5.0.0/content/Areas/HelpPage/SampleGeneration/InvalidSample.cs.pp
packages/Microsoft.AspNet.WebApi.HelpPage.5.0.0/content/Areas/HelpPage/SampleGeneration/ObjectGenerator.cs.pp
packages/Microsoft.AspNet.WebApi.HelpPage.5.0.0/content/Areas/HelpPage/SampleGeneration/SampleDirection.cs.pp
packages/Microsoft.AspNet.WebApi.HelpPage.5.0.0/content/Areas/HelpPage/SampleGeneration/TextSample.cs.pp
packages/Microsoft.AspNet.WebApi.HelpPage.5.0.0/content/Areas/HelpPage/Views/Help/Api.cshtml.pp
packages/Microsoft.AspNet.WebApi.HelpPage.5.0.0/content/Areas/HelpPage/Views/Help/DisplayTemplates/ApiGroup.cshtml.pp
packages/Microsoft.AspNet.WebApi.HelpPage.5.0.0/content/Areas/HelpPage/Views/Help/DisplayTemplates/HelpPageApiModel.cshtml.pp
packages/Microsoft.AspNet.WebApi.HelpPage.5.0.0/content/Areas/HelpPage/Views/Help/DisplayTemplates/ImageSample.cshtml.pp
packages/Microsoft.AspNet.WebApi.HelpPage.5.0.0/content/Areas/HelpPage/Views/Help/DisplayTemplates/InvalidSample.cshtml.pp
packages/Microsoft.AspNet.WebApi.HelpPage.5.0.0/content/Areas/HelpPage/Views/Help/DisplayTemplates/Parameters.cshtml.pp
packages/Microsoft.AspNet.WebApi.HelpPage.5.0.0/content/Areas/HelpPage/Views/Help/DisplayTemplates/Samples.cshtml.pp
packages/Microsoft.AspNet.WebApi.HelpPage.5.0.0/content/Areas/HelpPage/Views/Help/DisplayTemplates/TextSample.cshtml.pp
packages/Microsoft.AspNet.WebApi.HelpPage.5.0.0/content/Areas/HelpPage/Views/Help/Index.cshtml.pp
packages/Microsoft.AspNet.WebApi.HelpPage.5.0.0/content/Areas/HelpPage/Views/Shared/_Layout.cshtml.pp
packages/Microsoft.AspNet.WebApi.HelpPage.5.0.0/content/Areas/HelpPage/Views/Web.config
packages/Microsoft.AspNet.WebApi.HelpPage.5.0.0/content/Areas/HelpPage/Views/_ViewStart.cshtml.pp
packages/Microsoft.AspNet.WebApi.HelpPage.5.0.0/content/Areas/HelpPage/XmlDocumentationProvider.cs.pp
packages/Microsoft.AspNet.WebApi.Owin.5.0.0/Microsoft.AspNet.WebApi.Owin.5.0.0.nupkg
packages/Microsoft.AspNet.WebApi.Owin.5.0.0/Microsoft.AspNet.WebApi.Owin.5.0.0.nuspec
packages/Microsoft.AspNet.WebApi.Owin.5.0.0/lib/net45/System.Web.Http.Owin.xml
packages/Microsoft.AspNet.WebApi.WebHost.5.0.0/Microsoft.AspNet.WebApi.WebHost.5.0.0.nupkg
packages/Microsoft.AspNet.WebApi.WebHost.5.0.0/Microsoft.AspNet.WebApi.WebHost.5.0.0.nuspec
packages/Microsoft.AspNet.WebApi.WebHost.5.0.0/lib/net45/System.Web.Http.WebHost.xml
packages/Microsoft.AspNet.WebPages.3.0.0/Microsoft.AspNet.WebPages.3.0.0.nupkg
packages/Microsoft.AspNet.WebPages.3.0.0/Microsoft.AspNet.WebPages.3.0.0.nuspec
packages/Microsoft.AspNet.WebPages.3.0.0/lib/net45/System.Web.Helpers.xml
packages/Microsoft.AspNet.WebPages.3.0.0/lib/net45/System.Web.WebPages.Deployment.xml
packages/Microsoft.AspNet.WebPages.3.0.0/lib/net45/System.Web.WebPages.Razor.xml
packages/Microsoft.AspNet.WebPages.3.0.0/lib/net45/System.Web.WebPages.xml
packages/Microsoft.Owin.2.1.0/Microsoft.Owin.2.1.0.nupkg
packages/Microsoft.Owin.2.1.0/Microsoft.Owin.2.1.0.nuspec
packages/Microsoft.Owin.2.1.0/lib/net40/Microsoft.Owin.XML
packages/Microsoft.Owin.2.1.0/lib/net45/Microsoft.Owin.XML
packages/Microsoft.Owin.Cors.2.1.0/Microsoft.Owin.Cors.2.1.0.nupkg
packages/Microsoft.Owin.Cors.2.1.0/Microsoft.Owin.Cors.2.1.0.nuspec
packages/Microsoft.Owin.Cors.2.1.0/lib/net45/Microsoft.Owin.Cors.XML
packages/Microsoft.Owin.Host.SystemWeb.2.0.0/Microsoft.Owin.Host.SystemWeb.2.0.0.nupkg
packages/Microsoft.Owin.Host.SystemWeb.2.0.0/Microsoft.Owin.Host.SystemWeb.2.0.0.nuspec
packages/Microsoft.Owin.Host.SystemWeb.2.0.0/lib/net40/Microsoft.Owin.Host.SystemWeb.xml
packages/Microsoft.Owin.Host.SystemWeb.2.0.0/lib/net45/Microsoft.Owin.Host.SystemWeb.xml
packages/Microsoft.Owin.Security.2.0.0/Microsoft.Owin.Security.2.0.0.nupkg
packages/Microsoft.Owin.Security.2.0.0/Microsoft.Owin.Security.2.0.0.nuspec
packages/Microsoft.Owin.Security.2.0.0/lib/net45/Microsoft.Owin.Security.XML
packages/Microsoft.Owin.Security.Cookies.2.0.0/Microsoft.Owin.Security.Cookies.2.0.0.nupkg
packages/Microsoft.Owin.Security.Cookies.2.0.0/Microsoft.Owin.Security.Cookies.2.0.0.nuspec
packages/Microsoft.Owin.Security.Cookies.2.0.0/lib/net45/Microsoft.Owin.Security.Cookies.xml
packages/Microsoft.Owin.Security.Facebook.2.0.0/Microsoft.Owin.Security.Facebook.2.0.0.nupkg
packages/Microsoft.Owin.Security.Facebook.2.0.0/Microsoft.Owin.Security.Facebook.2.0.0.nuspec
packages/Microsoft.Owin.Security.Facebook.2.0.0/lib/net45/Microsoft.Owin.Security.Facebook.XML
packages/Microsoft.Owin.Security.Google.2.0.0/Microsoft.Owin.Security.Google.2.0.0.nupkg
packages/Microsoft.Owin.Security.Google.2.0.0/Microsoft.Owin.Security.Google.2.0.0.nuspec
packages/Microsoft.Owin.Security.Google.2.0.0/lib/net45/Microsoft.Owin.Security.Google.XML
packages/Microsoft.Owin.Security.MicrosoftAccount.2.0.0/Microsoft.Owin.Security.MicrosoftAccount.2.0.0.nupkg
packages/Microsoft.Owin.Security.MicrosoftAccount.2.0.0/Microsoft.Owin.Security.MicrosoftAccount.2.0.0.nuspec
packages/Microsoft.Owin.Security.MicrosoftAccount.2.0.0/lib/net45/Microsoft.Owin.Security.MicrosoftAccount.XML
packages/Microsoft.Owin.Security.OAuth.2.0.0/Microsoft.Owin.Security.OAuth.2.0.0.nupkg
packages/Microsoft.Owin.Security.OAuth.2.0.0/Microsoft.Owin.Security.OAuth.2.0.0.nuspec
packages/Microsoft.Owin.Security.OAuth.2.0.0/lib/net45/Microsoft.Owin.Security.OAuth.XML
packages/Microsoft.Owin.Security.Twitter.2.0.0/Microsoft.Owin.Security.Twitter.2.0.0.nupkg
packages/Microsoft.Owin.Security.Twitter.2.0.0/Microsoft.Owin.Security.Twitter.2.0.0.nuspec
packages/Microsoft.Owin.Security.Twitter.2.0.0/lib/net45/Microsoft.Owin.Security.Twitter.XML
packages/Microsoft.Web.Infrastructure.1.0.0.0/Microsoft.Web.Infrastructure.1.0.0.0.nupkg
packages/Microsoft.Web.Infrastructure.1.0.0.0/Microsoft.Web.Infrastructure.1.0.0.0.nuspec
packages/Microsoft.jQuery.Unobtrusive.Validation.3.0.0/Content/Scripts/jquery.validate.unobtrusive.js
packages/Microsoft.jQuery.Unobtrusive.Validation.3.0.0/Content/Scripts/jquery.validate.unobtrusive.min.js
packages/Microsoft.jQuery.Unobtrusive.Validation.3.0.0/Microsoft.jQuery.Unobtrusive.Validation.3.0.0.nupkg
packages/Microsoft.jQuery.Unobtrusive.Validation.3.0.0/Microsoft.jQuery.Unobtrusive.Validation.3.0.0.nuspec
packages/Newtonsoft.Json.5.0.6/Newtonsoft.Json.5.0.6.nupkg
packages/Newtonsoft.Json.5.0.6/Newtonsoft.Json.5.0.6.nuspec
packages/Newtonsoft.Json.5.0.6/lib/net20/Newtonsoft.Json.xml
packages/Newtonsoft.Json.5.0.6/lib/net35/Newtonsoft.Json.xml
packages/Newtonsoft.Json.5.0.6/lib/net40/Newtonsoft.Json.xml
packages/Newtonsoft.Json.5.0.6/lib/net45/Newtonsoft.Json.xml
packages/Newtonsoft.Json.5.0.6/lib/netcore45/Newtonsoft.Json.xml
packages/Newtonsoft.Json.5.0.6/lib/portable-net40+sl4+wp7+win8/Newtonsoft.Json.xml
packages/Newtonsoft.Json.5.0.6/lib/portable-net45+wp80+win8/Newtonsoft.Json.xml
packages/Owin.1.0/Owin.1.0.nupkg
packages/Owin.1.0/Owin.1.0.nuspec
packages/Respond.1.2.0/Respond.1.2.0.nupkg
packages/Respond.1.2.0/Respond.1.2.0.nuspec
packages/Respond.1.2.0/content/Scripts/respond.js
packages/Respond.1.2.0/content/Scripts/respond.min.js
packages/WebGrease.1.5.2/WebGrease.1.5.2.nupkg
packages/WebGrease.1.5.2/WebGrease.1.5.2.nuspec
packages/WebGrease.1.5.2/tools/install.ps1
packages/WebGrease.1.5.2/tools/uninstall.ps1
packages/bootstrap.3.0.0/Content/Content/bootstrap-theme.css
packages/bootstrap.3.0.0/Content/Content/bootstrap-theme.min.css
packages/bootstrap.3.0.0/Content/Content/bootstrap.css
packages/bootstrap.3.0.0/Content/Content/bootstrap.min.css
packages/bootstrap.3.0.0/Content/Scripts/bootstrap.js
packages/bootstrap.3.0.0/Content/Scripts/bootstrap.min.js
packages/bootstrap.3.0.0/Content/fonts/glyphicons-halflings-regular.eot
packages/bootstrap.3.0.0/Content/fonts/glyphicons-halflings-regular.svg
packages/bootstrap.3.0.0/Content/fonts/glyphicons-halflings-regular.ttf
packages/bootstrap.3.0.0/Content/fonts/glyphicons-halflings-regular.woff
packages/bootstrap.3.0.0/bootstrap.3.0.0.nupkg
packages/bootstrap.3.0.0/bootstrap.3.0.0.nuspec
packages/jQuery.1.10.2/Content/Scripts/jquery-1.10.2-vsdoc.js
packages/jQuery.1.10.2/Content/Scripts/jquery-1.10.2.js
packages/jQuery.1.10.2/Content/Scripts/jquery-1.10.2.min.js
packages/jQuery.1.10.2/Content/Scripts/jquery-1.10.2.min.map
packages/jQuery.1.10.2/Tools/common.ps1
packages/jQuery.1.10.2/Tools/install.ps1
packages/jQuery.1.10.2/Tools/jquery-1.10.2.intellisense.js
packages/jQuery.1.10.2/Tools/uninstall.ps1
packages/jQuery.1.10.2/jQuery.1.10.2.nupkg
packages/jQuery.1.10.2/jQuery.1.10.2.nuspec
packages/jQuery.Validation.1.11.1/Content/Scripts/jquery.validate-vsdoc.js
packages/jQuery.Validation.1.11.1/Content/Scripts/jquery.validate.js
packages/jQuery.Validation.1.11.1/Content/Scripts/jquery.validate.min.js
packages/jQuery.Validation.1.11.1/jQuery.Validation.1.11.1.nupkg
packages/jQuery.Validation.1.11.1/jQuery.Validation.1.11.1.nuspec
packages/repositories.config
